
.admin-data {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
}

.history-transactions {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media (max-width: 768px) {
 

  .admin-data {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .history-transactions {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
